body {
    padding-top: 5rem;
}
.simple-head {
    padding: 3rem 1.5rem;
    text-align: center;
}
.simple-head h1 {
    text-transform: uppercase;
}
.main-block {
    text-align: center;
}

.uploaders_delimiter {
    font-weight: bold;
    font-size: 14px;
    margin: 0 16px;
}

.filter-row {
    margin-top: 16px;
}

.table {
    font-size: 12px;
}
.table-scroll {
    max-height: 300px;
    overflow-y: scroll;
}
