<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue.js grid component example</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bower_components/vue/dist/vue.min.js"></script>
    <script src="/bower_components/socket.io-client/dist/socket.io.slim.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery/dist/js/jquery.min.js"></script>
</head>
<body>

<!-- component template -->
<script type="text/x-template" id="grid-template">
    <table v-if="filteredData.length">
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
    <p v-else>No matches found.</p>
</script>

<!-- demo root element -->
<div id="app">
    <div>
        <input v-model="api_key" placeholder="api key">
        <input v-model="secret_key" placeholder="secret key">
        <button v-on:click="loadData">Send</button>
    </div>

    <grid
            :data="results_data"
            :columns="results_columns">
    </grid>

    <p>Raw data</p>
    <grid
            :data="grid_data"
            :columns="grid_columns">
    </grid>

</div>

<script src="/js/main.js"></script>

</body>
</html>
